.env 
.DS_Store
.vercel_build_output
.svelte-kit
node_modules
desktop/out
desktop/build
desktop/.svelte-kit
desktop/dist

server/.svelte-kit
cli
scratchpad.md
/test-results/
/playwright-report/
/playwright/.cache/
pnpm-lock.yaml
