/* These styles make use of @layer and variables */
/* learn about @layer: (https://css-tricks.com/css-cascade-layers/) */
/* learn about variables: (https://css-tricks.com/a-complete-guide-to-custom-properties/) */

/* Default styles that work with Primo components */
@layer {
  /* -----------------------
  - Theme
  - Normalize
  - Foundation (Page & Sections)
  - Elements (Heading, Button, etc.)
  ------------------------- */

  @layer Theme {
    :root {
      /* Colors */
      --color-accent: #154bf4;

      /* Default property values */
      --background: white;
      --color: #222;
      --padding: 2rem;
      --box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
      --border-radius: 8px;
      --border-color: #cbcace;
      --font-family: system-ui, sans-serif;
      --line-height: 1.6;
      --max-width: 1200px;
      --padding: 3rem 2rem;
    }
  }

  @import url("https://cdn.jsdelivr.net/npm/cssremedy@0.1.0-beta.2/css/remedy.css")
  layer(Normalize);
  @layer Normalize {
    a {
      text-decoration: unset;
      color: unset;
    }
    button {
      background: transparent;
      border: 0;
    }
    body,
    figure,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }
    ul {
      padding: 0;
    }
    img {
      max-width: 100%;
    }
  }

  @layer Foundation {
    /* Root Page */
    .primo-page {
      font-family: var(--font-family);
      color: var(--color);
      line-height: var(--line-height);
      background: var(--background);
    }

    /* Content Section */
    .primo-section .primo-content {
      max-width: var(--max-width);
      margin: 0 auto;
      padding: var(--padding);

      img {
        width: 40%;
        margin: 2rem 0;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
      }

      p {
        padding: 0.25rem 0;
        line-height: 1.5;
      }

      a {
        text-decoration: underline;
      }

      h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      h2 {
        font-size: 2.25rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      h3 {
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 0.25rem;
      }

      ul {
        list-style: disc;
        padding: 0.5rem 0;
        padding-left: 1.25rem;
      }

      ol {
        list-style: decimal;
        padding: 0.5rem 0;
        padding-left: 1.25rem;
      }

      blockquote {
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
      }
    }
  }

  @layer Elements {
    .primo-page {
      .section-container {
        max-width: var(--max-width, 1200px);
        margin: 0 auto;
        padding: var(--padding, 3rem 2rem);
      }

      .heading {
        font-size: 2rem;
        line-height: 1;
        font-weight: 600;
      }

      .button {
        color: white;
        background: var(--color-accent);
        border-radius: 5px;
        padding: 8px 20px;
        transition: 0.2s box-shadow;

        &:hover {
          box-shadow: 0 0 0 2px var(--color-accent);
        }

        &.inverted {
          background: transparent;
          color: var(--color-accent);
          border: 2px solid var(--color-accent);
        }
      }
    }
  }
}
